<%- include ("header.ejs") %>
<%- include ("menu.ejs") %>
<main>
    <div id="addform">
        <form action="" method="post">
            <label for="room_number">מספר חדר:</label>
            <input type="text" name="room_number" id="room_number" value="<%= item.room_number %>" />
            <br>
            <label for="bed_number">מספר מיטה:</label>
            <input type="text" name="bed_number" id="bed_number" value="<%= item.bed_number %>" />
            <br>
            <label for="callStartTime">מועד פתיחה:</label>
            <input type="datetime-local" name="callStartTime" id="callStartTime" value="<%= item.callStartTime %>" />
            <br>
            <label for="callEndTime">מועד סגירה:</label>
            <input type="datetime-local" name="callEndTime" id="callEndTime" value="<%= item.callEndTime %>" />
            <br>
            <br>
            <button>save</button>
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>
