<%- include ("header.ejs") %>
<%- include ("menu.ejs") %>
<main>
    <table>
        <tr>
            <td colspan="100">
                <form action="/R/Add" method="get">
                    <button>+הוספה</button>
                </form>
            </td>
        </tr>
        <tr>
            <th></th>
            <th>מספר חדר</th>
            <th>מספר מיטה</th>
            <th>שם דייר/ת</th>
            <th>מספר מכשיר</th>
            <th>כפתור פעיל</th>
            <th></th>
        </tr>
        <% for(let item of data) { %>
            <tr>
                <td>
                    <form action="/R/Edit" method="get">
                        <input type="hidden" name="id" value="<%= item._id %>">
                        <button>ערוך</button>
                    </form>
                </td>
                <td><%= item.room_number %></td>
                <td><%= item.bed_number %></td>
                <td><%= item.dayar_name %></td>
                <td><%= item.device_number %></td>
                <td><%= item.CallIsActive %></td>
                <td></td>
            </tr>
        <% } %>
    </table>
</main>
<%- include ("footer.ejs") %>
